
params {
  /** General variables used for most processes in the pipeline */
  SampleName = "QAIGEN_test_data"

  /** Input reads */
  InputRead1 = "/home/aahmed5/data/paeruginosa-reads/SRR396636.sra_1.fastq"
  InputRead2 = "/home/aahmed5/data/paeruginosa-reads/SRR396636.sra_2.fastq"

  /** Trim sequences specific variables */
  trimmomaticjar = "/home/aahmed5/software/Trimmomatic-0.39/trimmomatic-0.39.jar"
  Threads = "4"
  adapters = "/home/aahmed5/software/Trimmomatic-0.39/adapters/TruSeq3-PE.fa"
  
  /** Execution params */
  TrimExecutor = 'slurm'
  ExecutorAccount =  'rongsongcodeoptim2022'
  TrimQueue =  'teton'
  TrimCpus = 2 
  TrimMaxNodes = 3
  TrimWalltime = '4min'
  TrimOut = 'TrimOut'
  javaModule = 'jdk'
}

profiles {
   standard {
        process.executor = 'local'
   }
  teton {
      process.executor = 'slurm'
      process.clusterOptions = "-A ${params.ExecutorAccount}"
      process.time = params.TrimWalltime
      process.cpus = params.TrimCpus
  }
}

