
params {
  /** General variables used for most processes in the pipeline */
  SampleName = "QAIGEN_test_data"

  /** Input reads */
  InputRead1 = "/home/azzaea/tmp/paeruginosa-reads/SRR396636.sra_1.fastq"
  InputRead2 = "/home/azzaea/tmp/paeruginosa-reads/SRR396636.sra_2.fastq"

  /** Trim sequences specific variables */
  trimmomaticjar = "/opt/Trimmomatic/Trimmomatic-0.39/trimmomatic-0.39.jar"
  Threads = "4"
  adapters = "/opt/Trimmomatic/Trimmomatic-0.39/adapters/TruSeq3-PE.fa"
  
  /** Execution params */
  TrimExecutor = 'slurm'
  TrimQueue =  'queue_name'
  TrimCpus = 1
  TrimMaxNodes = 1
  TrimWalltime = '30min'
  TrimOut = 'TrimOut'
}

profile {
   standard {
        process.executor = 'local'
   }
   cluster {
	executor =  params.TrimExecutor
	queue = params.TrimQueue
	cpus = params.TrimCpus
	time = params.TrimWalltime
	maxForks = params.TrimMaxNodes
  }
}

